<html>
	<head>
		<link rel="stylesheet" href="/static/css/detail.css" type="text/css"/> 
	</head>
	<body>
	<div class="body">
		<div class="main">
			<h1>KLOUT</h1>
			<div class="detail">
				<p style="font-size:20px"> {{ }}</p>
				<p>"Product's details"</p>
				<img border="0" src="D:\Projects-j2p\KLOUT\app\static\images\img001.gif" width="128" height="128" alt="ƒCƒ‰ƒXƒg1">
				
			</div>
			<div class="a_i">
				<p>"Auction Information"</p>
				<form action="/loginpage" method="post">
		
					<label1> Vender Lowest Price:{{}}</label1>
		 			
		 	
		 			<hr size="1" color="#000000">
		 	
		 			<label1>Customer Highest Price:{{}}</label1>
		 	
		 			<hr size="1" color="#000000">
		 	
		 			<label1>Number of "WANT":{{}}</label1>
		 			<br>
		 			<input type="submit" value="WANT">  <input type="submit" value="Change Price">
				</form> 
				
				
			</div>
			<div class="o_v">
				<p>Show<br>"Other Vendors"</p>
			</div>
		</div>
	</div>
	</body>
</html>