<html>
	<head>
	<link rel="stylesheet" href="/static/css/styles2.css" type="text/css"/> 
	</head>
		<body>
			<div class="container">
				<div class="main">
		 		<h4 style="float:right;margin-right:2px;margin-top:-1px;"><a class="click" href="/logout">Logout</a></h4>
			 	<h1><a href="/selectproduct">KLOUT</a></h1>
				<h2>FINISH PURCHASE</h2>
					<div class="finish" style="text-align:center">
						<p style="font-size:20px">Thank you for your purchase.</p>
						<a href="/selectproduct" style="font-size:35px">Return to homepage</a>
					</div>
				</div>
			</div>
	</body>
</html>