<html>
	<head>
	<link rel="stylesheet" href="/static/css/styles2.css" type="text/css"/> 
	</head>
		<body>
			<div class="container">
				<div class="main">
		 		<h4 style="float:right;margin-right:2px;margin-top:-1px;"><a class="click" href="/logout">Logout</a></h4>
			 	<h1><a href="/selectproduct">KLOUT</a></h1>
				<h2>ENTER PURCHASE</h2>
				<div class="detail" style="float:left">
					<p style="font-size:20px">100000</p>
					<img border="0" src="/static/images/img001.gif" width="250" height="250" alt="image"/>
				</div>
				
				<form class="purchaseform" action="/purchase_page" method="post" class="create"> 	
				 			
				 	<label>PURCHASE PRICE: finally_price</label>
				 	<hr/>
					
				 	<input type="submit" value="PURCHASE">
				 	<a href="/selectproduct">CANCEL</a>
				</form> 
				</div>
			</div>
	</body>
</html>